.search-container {
    position: relative;
    width: 100%;

    margin: 0 auto;
  }
  
  #searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;

  }
  
  #suggestions {
    position: absolute;
    top: 100%;
    left: 50vh;
    width: 100%;
    background: white;
    z-index: 9999;
    max-height: 200px;
    overflow-y: auto;
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 760px;

  }
  
  .suggestion-item {
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f1f1f1;
  }

  @media (max-width: 768px) {
    .search-container {
      max-width: 100%;
      padding: 0 10px;
    }
    #suggestions {
      left: 0;
      top: 100%;
    
    }
    #searchInput {
      font-size: 16px;
    }
  }
  
.suggestion-item {
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;
}

.suggestion-item:hover {
    background-color: #f8f9fa;
}
@media (max-width: 768px) {
      .nav_icon {
        gap: 0;
    }
  
}