.form-container {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  width: 90%;
  max-width: 500px;
}

.form-container.active {
  display: block;
}

#contactFormSection {
  display: none;
}